.logo{
    width: 10rem;
}
.header,
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    gap: 3rem;
}
.nav-links a{
    color: #fff;
    transition: all 0.3s ease;
}
.nav-links a:hover{
    color: var(--orange);
}