.logo{
    width: 10rem;
}
.header,
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    gap: 3rem;
}
.nav-links a{
    color: #fff;
    transition: all 0.3s ease;
}
.nav-links a:hover{
    color: var(--orange);
}

@media screen and (max-width: 768px){
    .header > :nth-child(2){
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .nav-links{
        top: 0;
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
        gap: 2rem;
    }
}